@charset "UTF-8";

	.whAll {
		display: flex;
	}
	
	.WhFormDiv {
		margin: 30px;
	}
	
	input {
		height: 1.6rem;
	}
	
	select {
		height: 1.9rem;
	}
	
	#warehouseTable {
		border-collapse: collapse;
		background-color: #F8F8F8;
		padding: 20px;
		width: 120%;
		text-align: center;
	}
	
	#warehouseTable	input {
		border: none;
	}
	
	#warehouseTable	select {
		border: none;
	}
	
	#warehouseTable	th {
		background-color: #909090;
	}
				
	#warehouseTable	tr:nth-child(even) {
		background-color: #D8D8D8;
	}
	
	#warehouseTable	tr:nth-child(even) select{
		background: #D8D8D8;
		
	}
					
	#warehouseTable	tr:nth-child(even) input{
		background: #D8D8D8;
		
	}
	
	#warehouseTable	tr:hover {
		background-color: #7C96C9;
		
	}
	
	#warehouseTable	tr:hover select {
		background-color: #7C96C9;
		
	}
	
	#warehouseTable	tr:hover input {
		background-color: #7C96C9;
		
	}
	
	
	.side-bar {
		border: 1px solid #ddd;
		padding: 20px;
		float: left;
		height: 100vh;
		margin-right: 30px;
	}
	
	button {
		background-color: #F5F5F5;
		border: 1px solid #D6DAE2;
		outline: none;
		border-radius: 5px;
		padding: 0 12px;
		height: 32px;
	}
	
	button:not(:last-child) {
		margin-right: 4px;
	}
	
	button:hover {
		background-color: #8EA8DB;
	}