<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authority-management-mapper">
	<select id="selectMemberByMemberId" parameterType="String" resultType="MemberDto">
		SELECT *
		FROM member
		WHERE member_id = UPPER(#{memberId})
	</select>
	
	<insert id="insertMember" parameterType="MemberDto">
		insert into member(
			member_uid,
			dept_code,
			job_code,
			company_code,
			member_id,
			password,
			member_name,
			address,
			tel,
			member_image,
			member_role
		) values (
			UPPER(#{companyCode}) || '.' || #{memberId},
			#{deptCode, jdbcType=VARCHAR},
			#{jobCode, jdbcType=VARCHAR},
			UPPER(#{companyCode, jdbcType=VARCHAR}),
			#{memberId, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR},
			#{memberName, jdbcType=VARCHAR},
			#{address, jdbcType=VARCHAR},
			#{tel, jdbcType=VARCHAR},
			#{memberImage, jdbcType=VARCHAR},
			#{memberRole, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="selectMemberListByCompanyCode" parameterType="String" resultType="AMDto">
		SELECT
			m.member_uid,
			m.dept_code,
			d.dept_name,
			m.job_code,
			j.job_name,
			m.company_code,
			c.company_name,
			m.member_id,
			m.member_name,
			m.address,
			m.tel,
			m.member_image,
			m.member_role
		FROM member m
		INNER JOIN department d ON m.dept_code = d.dept_code
		INNER JOIN job j ON m.job_code = j.job_code
        INNER JOIN company c ON m.company_code = c.company_code
		WHERE m.company_code = UPPER(#{companyCode}) 
 		ORDER BY m.job_code
	</select>
</mapper>
