<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InventoryStatusMapper">

	<select id="selectIsItemListByItemCode" parameterType="IsWhStockDetailDto" resultType="IsWhStockDetailDto">
		select		i.item_name, i.item_code, i.item_type, wd.wh_code, wd.good_quantity, 
			  		wd.bad_quantity, wd.update_user, i.stock_unit, i.memo
		from		wh_stock_detail wd, item i
		where		wd.item_code = i.item_code
		and			i.item_name like '%' || upper(#{itemName}) || '%'
		and			i.item_type = #{itemType}
	</select>
	
	<select id="selectIsWhDtoWhList" resultType="IsWhDto">
		select		wh_code, wh_name, use_yn
		from		wh
	</select>
	
	<select id="selectWhTotalCount" resultType="int">
		select		count(i.item_code)
		from 		item i
		join 		wh_stock_detail wd on i.item_code = wd.item_code
	</select>
	
	<select id="selectWhListByPagination" parameterType="IsPaginationDto" resultType="IsWhDto">
		select		*
		from		(select		rownum rn, n.*
      				 from		(select		i.item_code, i.item_name, wd.wh_code as wdCode, w.wh_name,
      				 						w.company_code, m.member_name, w.update_date, w.use_yn,
      				 						wd.good_quantity, wd.bad_quantity
            					 from		item i
            					 join		wh_stock_detail wd on i.item_code = wd.item_code
            					 join		wh w on wd.wh_code = w.wh_code
            					 join		member m on w.update_user = m.member_uid) n
     				)
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectWhItemTotalCount" parameterType="String" resultType="int">
		select 		count(i.item_code)
		from 		item i
		join 		wh_stock_detail wd on i.item_code = wd.item_code
		where		wd.wh_code = #{whCode}
	</select>
	
	<select id="selectISItemListByWhCode" parameterType="IsWhDto" resultType="IsWhDto">
		select		*
		from		(select		rownum rn, n.*
      				 from		(select		i.item_code, i.item_name, wd.wh_code as wdCode, w.wh_name,
      				 						w.company_code, m.member_name, w.update_date, w.use_yn,
      				 						wd.good_quantity, wd.bad_quantity
            					 from		item i
            					 join		wh_stock_detail wd on i.item_code = wd.item_code
            					 join		wh w on wd.wh_code = w.wh_code
            					 join		member m on w.update_user = m.member_uid
            					 where		wd.wh_Code = #{wdCode}) n
     				)
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectIsBomListByItemNameAndItemType" parameterType="IsBomDto" resultType="IsBomDto">
		select 		b.low_item_code, i.item_name, wd.wh_code, w.wh_name, wd.good_quantity, wd.bad_quantity,
					io.item_name as high_item_name
		from 		bom b
		join 		item i on b.low_item_code = i.item_code
		join 		item io on b.high_item_code = io.item_code
		join 		wh_stock_detail wd on b.low_item_code = wd.item_code
		join 		wh w on wd.wh_code = w.wh_code
		where 		io.item_name like '%' || upper(#{itemName}) || '%'
		and 		i.item_type = #{itemType}
	</select>
	
	<select id="selectInfoForMainPage" resultType="MainPageDto">
		select 		product_type, count(product_type) as work_order_count
		from 		wo
		where 		work_status = '확정'
		and 		trunc(reg_date) = '2023/06/08'
		and			delete_status = 'N'
		group by 	product_type
	</select>
	
	<select id="selectOrdersListForMainPage" resultType="MainPageDto">
		select 		count(order_code) as order_count, receive_or_place
		from 		orders
		where 		order_status = '확정'
		and			trunc(order_date) = '2023/06/08'
		group by 	receive_or_place
	</select>
	
	<select id="selectLossListForMainPage" resultType="IsLossDto">
		select		*
		from		loss
		where		defective_loss_type = 'LOSS'
	</select>
	
</mapper>
