<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemMapper">
	<!-- 제품 리스트  -->
	<select id="selectItemList" resultType="ItemDto">
		SELECT *
		FROM item
	</select>
	<!-- 제품 등록  -->
	<insert id="insertItem" parameterType="ItemDto">
		INSERT INTO item (item_code, wh_code, company_code, item_name, item_type, 
								stock_unit, memo, start_date, end_date, reg_user, reg_date, update_user, update_date)
		VALUES ('ITEM' || ITEM_CODE_SEQ.nextval, #{whCode}, #{companyCode}, #{itemName}, #{itemType}, 
				#{stockUnit}, #{memo}, #{startDate}, #{endDate}, #{regUser}, #{regDate}, #{updateUser}, #{updateDate})
	</insert>
	<!-- 창고 리스트  -->
	<select id="selectWhList" resultType="ItemDto">
		SELECT wh_code as whCode2, wh_name
		FROM wh
	</select>

</mapper>