<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orders">
	<select id="selectOrdersBySearch" resultType="OrdersDto" parameterType="Search">
		SELECT	od.*, com.company_name AS customerName
		FROM	orders od INNER JOIN company com ON od.customer_code = com.company_code
		WHERE 	od.receive_or_place = '발주'
		AND		delete_status = 'N'
		AND		order_status IN ('저장', '확정')
		<if test="startDate != '' and startDate != null">
			AND (od.order_date >= #{startDate} OR od.due_date >= #{startDate} 
				 OR od.reg_date >= #{startDate} OR od.update_date >= #{startDate})
		</if>
		<if test="endDate != '' and endDate != null">
		<![CDATA[
			AND (od.order_date <= #{endDate} OR od.due_date <= #{endDate} 
				 OR od.reg_date <= #{endDate} OR od.update_date <= #{endDate})
		]]>
		</if>
		AND (#{orderDate} IS NULL OR od.order_date = #{orderDate})
		AND (#{customerCode} IS NULL OR od.customer_code = #{customerCode})
		AND (#{orderEmpid} IS NULL OR od.order_empid = #{orderEmpid})
		
	</select>
	<select id="selectOrdersDetailByOrderCode" resultType="OrdersDetailDto" parameterType="String">
		SELECT 	oddt.*, it.item_name AS item_name
		FROM	orders_detail oddt INNER JOIN item it ON oddt.item_code = it.item_code
		WHERE	oddt.order_detail_code = #{orderCode}
	</select>
	<update id="updateOrdersByOrderCode" parameterType="Map">
		UPDATE	orders
	<choose>
	<when test="column == 'deleteStatus'">
		SET		delete_status = #{data}
	</when>
	<when test="column == 'orderStatus'">
		SET		order_status = #{data}
	</when>
	</choose>
		WHERE	order_code = #{orderCode}
	</update>
</mapper>