<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.yeonsolution.product.wo.domain.WoMapper">
	<resultMap type="WOCompany" id="CompanyResultMap">
		<id			property="companyCode"	column="company_code"/>
		<result		property="businessType"		column="business_type"/>
		<result		property="orderType"			column="order_type"/>
		<result		property="companyName"	column="company_name"/>
		<result		property="businessCode"		column="business_code"/>
		<result		property="ownerName"		column="owner_name"/>
		<result		property="tel"					column="tel"/>
		<result		property="address"			column="address"/>
		<result		property="companyLogo"	column="company_logo"/>
		<result		property="regUser"			column="reg_user"/>
		<result		property="regDate"			column="reg_date"/>
		<result		property="updateUser"		column="update_user"/>
		<result		property="updateDate"		column="update_date"/>
	</resultMap>
	<resultMap type="WOWh" id="WhResultMap">
		<id			property="whCode"			column="wh_code"/>
		<result		property="whName"			column="wh_name"/>
		<result		property="regUser"			column="reg_user"/>
		<result		property="regDate"			column="reg_date"/>
		<result		property="updateUser"		column="update_user"/>
		<result		property="updateDate"		column="update_date"/>
		<result		property="useYn"				column="use_yn"/>
		<result		property="memo"				column="memo"/>
		<collection	property="company"			resultMap="CompanyResultMap"/>
	</resultMap>
	<resultMap type="WOItem" id="ItemResultMap">
		<id			property="itemCode"			column="item_code"/>
		<result		property="itemName"			column="item_name"/>
		<result		property="itemType"			column="item_type"/>
		<result		property="stockUnit"			column="stock_unit"/>
		<result		property="purchasePrice"		column="purchase_price"/>
		<result		property="salesPrice"			column="sales_price"/>
		<result		property="memo"				column="memo"/>
		<result		property="startDate"			column="start_date"/>
		<result		property="endDate"			column="end_date"/>
		<result		property="regUser"			column="reg_user"/>
		<result		property="regDate"			column="reg_date"/>
		<result		property="updateUser"		column="update_user"/>
		<result		property="updateDate"		column="update_date"/>
		<collection	property="wh"					resultMap="WhResultMap"/>
		<collection	property="company"			resultMap="CompanyResultMap"/>
	</resultMap>
	<resultMap type="WOOrders" id="OrdersResultMap">
		<id			property="orderCode"			column="order_code"/>
		<result		property="receiveOrPlace"		column="receive_or_place"/>
		<result		property="receiveOrderType"	column="receive_order_type"/>
		<result		property="orderDate"				column="order_date"/>
		<result		property="orderEmpid"			column="order_empid"/>
		<result		property="deliveryPlan"			column="delivery_plan"/>
		<result		property="orderStatus"			column="order_status"/>
		<result		property="dueDate"				column="due_date"/>
		<result		property="memo"					column="memo"/>
		<result		property="regUser"				column="reg_user"/>
		<result		property="regDate"				column="reg_date"/>
		<result		property="updateUser"			column="update_user"/>
		<result		property="updateDate"			column="update_date"/>
		<collection	property="company"				columnPrefix="CO" resultMap="CompanyResultMap"/>
		<collection	property="customer"				columnPrefix="CU" resultMap="CompanyResultMap"/>
	</resultMap>
	<resultMap type="WOWo" id="WoResultMap">
		<id			property="workOrderCode"	column="work_order_code"/>
		<result		property="itemQuantity"		column="item_quantity"/>
		<result		property="workStatus"		column="work_status"/>
		<result		property="productType"		column="product_type"/>
		<result		property="workOrderType"	column="work_order_type"/>
		<result		property="workOrderDate"	column="work_order_date"/>
		<result		property="workOrderStatus"	column="work_order_status"/>
		<result		property="startDate"			column="start_date"/>
		<result		property="endDate"			column="end_date"/>
		<result		property="finishDate"			column="finish_date"/>
		<result		property="deleteStatus"		column="delete_status"/>
		<result		property="memo"				column="memo"/>
		<result		property="regUser"			column="reg_user"/>
		<result		property="regDate"			column="reg_date"/>
		<result		property="updateUser"		column="update_user"/>
		<result		property="updateDate"		column="update_date"/>
		<!-- just for Java -->
		<result		property="goodQuantity"		column="goodQuantity"/>
		<result		property="badQuantity"		column="badQuantity"/>
		<result		property="workedQuantity"	column="workedQuantity"/>
		<!-- jfj end -->
		<collection	property="wh"					resultMap="WhResultMap"/>
		<collection	property="orders"				resultMap="OrdersResultMap"/>
		<collection	property="item"				resultMap="ItemResultMap"/>
	</resultMap>
	<resultMap type="WOWoDetail" id="WoDetailResultMap">
		<id			property="sorder"				column="sorder"/>
		<result		property="worker"				column="worker"/>
		<result		property="workDate"				column="work_date"/>
		<result		property="workOrderQuantity"	column="work_order_quantity"/>
		<result		property="workerCount"			column="worker_count"/>
		<result		property="goodYn"				column="good_yn"/>
		<result		property="memo"					column="memo"/>
		<collection property="wo"					resultMap="WoResultMap"/>
		<collection property="item"					resultMap="ItemResultMap"/>
	</resultMap>
	<resultMap type="WOBom" id="BomResultMap">
		<id				property="highItemCode"			column="high_item_code"/>
		<id				property="lowItemCode"		column="low_item_code"/>
		<result			property="materialQuantity"		column="material_quantity"/>
		<collection		property="lowItem"				resultMap="ItemResultMap"/>
	</resultMap>
	<resultMap type="WOWhStockDetail" id="WhStockDetailResultMap">
		<id				property="whCode"				column="wh_code"/>
		<id				property="itemCode"				column="item_code"/>
		<result			property="checkDate"				column="check_date"/>
		<result			property="beginEndInventory"	column="begin_end_inventory"/>
		<result			property="goodQuantity"			column="good_quantity"/>
		<result			property="badQuantity"			column="bad_quantity"/>
		<result			property="updateUser"			column="update_user"/>
		<result			property="updateDate"			column="update_date"/>
		<result			property="memo"					column="memo"/>
	</resultMap>
	<!-- WO mapper -->
	<select id="selectWo" resultMap="WoResultMap">
		SELECT wo.*, wh.*, orders.*, item.*
		FROM WO wo LEFT OUTER JOIN WH wh ON (wo.WH_CODE = wh.WH_CODE)
						   LEFT OUTER JOIN ORDERS orders ON (wo.ORDER_CODE = orders.ORDER_CODE)
						   LEFT OUTER JOIN ITEM item ON (wo.ITEM_CODE = item.ITEM_CODE)
		WHERE wo.DELETE_STATUS = 'N'
		ORDER BY TO_NUMBER(REPLACE(wo.WORK_ORDER_CODE, 'WORK', '')) DESC
	</select>
	<select id="selectWoSearch" parameterType="WOWo" resultMap="WoResultMap">
		SELECT wo.*, wh.*, orders.*, item.*,
				  NVL(wd.GOODQUANTITY, 0) GOODQUANTITY, NVL(wd.BADQUANTITY, 0) BADQUANTITY,
				  NVL(wd.GOODQUANTITY, 0) + NVL(wd.BADQUANTITY, 0) WORKEDQUANTITY
		FROM WO wo LEFT OUTER JOIN WH wh ON (wo.WH_CODE = wh.WH_CODE)
						   LEFT OUTER JOIN ORDERS orders ON (wo.ORDER_CODE = orders.ORDER_CODE)
						   LEFT OUTER JOIN ITEM item ON (wo.ITEM_CODE = item.ITEM_CODE)
						   LEFT OUTER JOIN (SELECT WORK_ORDER_CODE,
						   									SUM(CASE WHEN GOOD_YN = 'Y' THEN WORK_ORDER_QUANTITY ELSE 0 END) GOODQUANTITY,
						   									SUM(CASE WHEN GOOD_YN = 'N' THEN WORK_ORDER_QUANTITY ELSE 0 END) BADQUANTITY
						   						   FROM WO_DETAIL
						   						   GROUP BY WORK_ORDER_CODE
						   						  ) wd ON (wo.WORK_ORDER_CODE = wd.WORK_ORDER_CODE)
		WHERE wo.DELETE_STATUS = 'N' AND wo.WORK_STATUS != '마감'
			  <if test="startDate != null">
			  	<![CDATA[
			  		AND wo.WORK_ORDER_DATE >= #{startDate}
			  	]]>
			  </if>
			  <if test="endDate != null">
			  	<![CDATA[
			  		AND wo.WORK_ORDER_DATE <= #{endDate}
			  	]]>
			  </if>
			  <if test="workOrderCode != null">
			  	<![CDATA[
			  		AND wo.WORK_ORDER_CODE LIKE '%' || #{workOrderCode} || '%'
			  	]]>
			  </if>
			  <if test="wh != null and wh.whCode != null">
			  	<![CDATA[
			  		AND wh.WH_CODE LIKE '%' || #{wh.whCode} || '%'
			  	]]>
			  </if>
			  <if test="wh != null and wh.whName != null">
			  	<![CDATA[
			  		AND wh.WH_NAME LIKE '%' || #{wh.whName} || '%'
			  	]]>
			  </if>
			  <if test="item != null and item.itemName != null">
			  	<![CDATA[
			  		AND item.ITEM_NAME LIKE '%' || #{item.itemName} || '%'
			  	]]>
			  </if>
		ORDER BY TO_NUMBER(REPLACE(wo.WORK_ORDER_CODE, 'WORK', '')) DESC
	</select>
	<update id="updateWoDelete" parameterType="java.lang.String">
		UPDATE WO SET DELETE_STATUS = 'Y' WHERE WORK_ORDER_CODE = #{workOrderCode}
	</update>
	<update id="updateWoConfirm" parameterType="java.lang.String">
		UPDATE WO SET WORK_STATUS = '확정' WHERE WORK_ORDER_CODE = #{workOrderCode}
	</update>
	<update id="updateWoCancel" parameterType="java.lang.String">
		UPDATE WO SET WORK_STATUS = '저장' WHERE WORK_ORDER_CODE = #{workOrderCode}
	</update>
	<insert id="insertWo">
		INSERT INTO WO
			(WORK_ORDER_CODE, WH_CODE, ORDER_CODE, ITEM_CODE, ITEM_QUANTITY, WORK_STATUS,
			 PRODUCT_TYPE, WORK_ORDER_TYPE, WORK_ORDER_DATE, WORK_ORDER_STATUS, FINISH_DATE,
			 DELETE_STATUS, REG_USER, REG_DATE)
		VALUES
			('WORK' || WORK_ORDER_CODE_SEQ.NEXTVAL, #{wh.whCode, jdbcType=VARCHAR},
			 #{orders.orderCode, jdbcType=VARCHAR},
			 #{item.itemCode, jdbcType=VARCHAR}, #{itemQuantity, jdbcType=NUMERIC}, '저장',
			 #{productType, jdbcType=VARCHAR}, #{workOrderType, jdbcType=VARCHAR},
			 #{workOrderDate, jdbcType=DATE}, #{workOrderStatus, jdbcType=VARCHAR},
			 #{finishDate, jdbcType=DATE}, 'N', #{regUser, jdbcType=VARCHAR}, SYSDATE)
	</insert>
	<update id="updateWo" parameterType="WOWo">
		UPDATE WO SET
			WH_CODE = #{wh.whCode, jdbcType=VARCHAR},
			ITEM_CODE = #{item.itemCode, jdbcType=VARCHAR},
			ITEM_QUANTITY = #{itemQuantity, jdbcType=NUMERIC},
			PRODUCT_TYPE = #{productType, jdbcType=VARCHAR},
			WORK_ORDER_TYPE = #{workOrderType, jdbcType=VARCHAR},
			WORK_ORDER_DATE = #{workOrderDate, jdbcType=DATE},
			WORK_ORDER_STATUS = #{workOrderStatus, jdbcType=VARCHAR},
			FINISH_DATE = #{finishDate, jdbcType=DATE},
			MEMO = #{memo, jdbcType=VARCHAR},
			UPDATE_USER = #{updateUser, jdbcType=VARCHAR},
			UPDATE_DATE = #{updateDate, jdbcType=DATE}
		WHERE WORK_ORDER_CODE = #{workOrderCode}
	</update>
	<select id="selectOneWo" parameterType="java.lang.String" resultMap="WoResultMap">
		SELECT * FROM WO
		WHERE WORK_ORDER_CODE = #{workOrderCode}
	</select>
	<update id="updateWoClose" parameterType="java.lang.String">
		UPDATE WO SET WORK_STATUS = '마감'
		WHERE WORK_ORDER_CODE = #{workOrderCode}
				  AND WORK_STATUS = '확정'
	</update>
	<update id="updateWoStartEndDate" parameterType="WOWo">
		UPDATE WO SET
			<choose>
				<when test="startDate != null">
					START_DATE = #{startDate}
				</when>
				<otherwise>
					END_DATE = #{endDate}
				</otherwise>
			</choose>
		WHERE WORK_ORDER_CODE = #{workOrderCode}
	</update>
	<select id="selectWoSearchFixed" parameterType="WOWo" resultMap="WoResultMap">
		SELECT wo.*, wh.*, orders.*, item.*,
				  NVL(wd.GOODQUANTITY, 0) GOODQUANTITY, NVL(wd.BADQUANTITY, 0) BADQUANTITY,
				  NVL(wd.GOODQUANTITY, 0) + NVL(wd.BADQUANTITY, 0) WORKEDQUANTITY
		FROM WO wo LEFT OUTER JOIN WH wh ON (wo.WH_CODE = wh.WH_CODE)
						   LEFT OUTER JOIN ORDERS orders ON (wo.ORDER_CODE = orders.ORDER_CODE)
						   LEFT OUTER JOIN ITEM item ON (wo.ITEM_CODE = item.ITEM_CODE)
						   LEFT OUTER JOIN (SELECT WORK_ORDER_CODE,
						   									SUM(CASE WHEN GOOD_YN = 'Y' THEN WORK_ORDER_QUANTITY ELSE 0 END) GOODQUANTITY,
						   									SUM(CASE WHEN GOOD_YN = 'N' THEN WORK_ORDER_QUANTITY ELSE 0 END) BADQUANTITY
						   						   FROM WO_DETAIL
						   						   GROUP BY WORK_ORDER_CODE
						   						  ) wd ON (wo.WORK_ORDER_CODE = wd.WORK_ORDER_CODE)
		WHERE wo.DELETE_STATUS = 'N' AND wo.WORK_STATUS = '확정'
			  <if test="startDate != null">
			  	<![CDATA[
			  		AND wo.WORK_ORDER_DATE >= #{startDate}
			  	]]>
			  </if>
			  <if test="endDate != null">
			  	<![CDATA[
			  		AND wo.WORK_ORDER_DATE <= #{endDate}
			  	]]>
			  </if>
			  <if test="workOrderCode != null">
			  	<![CDATA[
			  		AND wo.WORK_ORDER_CODE LIKE '%' || #{workOrderCode} || '%'
			  	]]>
			  </if>
			  <if test="wh != null and wh.whCode != null">
			  	<![CDATA[
			  		AND wh.WH_CODE LIKE '%' || #{wh.whCode} || '%'
			  	]]>
			  </if>
			  <if test="wh != null and wh.whName != null">
			  	<![CDATA[
			  		AND wh.WH_NAME LIKE '%' || #{wh.whName} || '%'
			  	]]>
			  </if>
			  <if test="item != null and item.itemName != null">
			  	<![CDATA[
			  		AND item.ITEM_NAME LIKE '%' || #{item.itemName} || '%'
			  	]]>
			  </if>
		ORDER BY TO_NUMBER(REPLACE(wo.WORK_ORDER_CODE, 'WORK', '')) DESC
	</select>
	<!-- WH mapper -->
	<select id="selectWh" parameterType="java.lang.String" resultMap="WhResultMap">
		SELECT * FROM WH WHERE WH_CODE = #{whCode}
	</select>
	<!-- Item mapper -->
	<select id="selectItem" parameterType="java.lang.String" resultMap="ItemResultMap">
		SELECT IT.*, WH.*
		FROM ITEM IT LEFT OUTER JOIN WH WH ON (IT.WH_CODE = WH.WH_CODE)
		WHERE ITEM_CODE = #{itemCode}
	</select>
	<!-- WoDetail mapper -->
	<select id="selectWoDetail" parameterType="java.lang.String" resultMap="WoDetailResultMap">
		SELECT WOD.*, WO.*, IT.*
		FROM WO_DETAIL WOD LEFT OUTER JOIN WO WO ON (WOD.WORK_ORDER_CODE = WO.WORK_ORDER_CODE)
						   LEFT OUTER JOIN ITEM IT ON (WOD.ITEM_CODE = IT.ITEM_CODE)
		WHERE WOD.WORK_ORDER_CODE = #{workOrderCode}
		ORDER BY WOD.SORDER ASC
	</select>
	<insert id="insertWoDetailWithResult" parameterType="WOWoDetail">
		INSERT INTO WO_DETAIL
			(WORK_ORDER_CODE, SORDER, ITEM_CODE, WORKER,
			 WORK_ORDER_QUANTITY, GOOD_YN)
		VALUES
			(#{wo.workOrderCode},
			 (SELECT NVL(MAX(SORDER), 0) + 1
			  FROM WO_DETAIL
			  WHERE WORK_ORDER_CODE = #{wo.workOrderCode}),
			 #{item.itemCode}, #{worker},
			 #{workOrderQuantity}, #{goodYn})
	</insert>
	<!-- BOM mapper -->
	<select id="selectBomWithQuantity" parameterType="WOWoDetail" resultMap="BomResultMap">
		SELECT B.HIGH_ITEM_CODE, B.LOW_ITEM_CODE, IT.*, WH.*, B.MATERIAL_QUANTITY * #{workOrderQuantity} MATERIAL_QUANTITY
		FROM BOM B LEFT OUTER JOIN ITEM IT ON (B.LOW_ITEM_CODE = IT.ITEM_CODE)
				   LEFT OUTER JOIN WH WH ON (IT.WH_CODE = WH.WH_CODE)
		WHERE HIGH_ITEM_CODE = #{item.itemCode}
	</select>
	<!-- WhStockDetail mapper -->
	<select id="selectWhStockDetail" parameterType="WOWhStockDetail" resultMap="WhStockDetailResultMap">
		SELECT * FROM WH_STOCK_DETAIL WHERE ITEM_CODE = #{itemCode}
	</select>
	<update id="updateWhStockDetailWithWoDetail" parameterType="WOBom">
		UPDATE WH_STOCK_DETAIL SET
			GOOD_QUANTITY = GOOD_QUANTITY - #{materialQuantity}
		WHERE ITEM_CODE = #{lowItemCode}
	</update>
	<select id="insertWoDetailWithCheck" parameterType="HashMap" resultType="HashMap" statementType="CALLABLE">
		{
			CALL WO_DETAIL_INSERT(
				#{data.workOrderCode, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
				#{data.goodYn, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
				#{data.workOrderQuantity, mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer},
				#{data.workerUid, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
				#{result, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Integer}
			)
		}
	</select>
	<select id="deleteWoDetailWithId" parameterType="HashMap" resultType="HashMap" statementType="CALLABLE">
		{
			CALL WO_DETAIL_DELETE(
				#{workOrderCode, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
				#{sorder, mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer},
				#{partResult, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Integer}
			)
		}
	</select>
</mapper>